
.header h1{

  background-color: #f5ba13;
  padding: 10px;
}
.data{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width:240px;
  padding:10px
}
.data h1{
  font-size :20px;
  margin-bottom: 6px;
}

.note{
   width: 300px;
  padding: 20px;
  margin: 20px auto;
  background-color: #f5f5f5;
}
input  {
  border: none;
  outline: none;
}
textarea{
 border: none;
  outline: none;
}
button{
  border: none;
  outline: none;
}